header.header 
    .container-fluid    
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href=`${prefixAdmin}/dashboard`) ADMIN 
            .col-8
            .col-1 
                div(class="text-right")
                a(
                    href=`${prefixAdmin}/auth/logout`
                    class="btn btn-danger btn-sm"
                ) Log out